* {
    border: 2px solid red;
}

/* Containers */
.grid {
    display: grid;
}

.imgAccent {
    border-color: #3882f6;
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
}

/* Colors */
.primary1Fg {
    color: #1f2937;
}

.primary1Bg {
    background-color: #1f2937;
}

.secondaryFg {
    color: #f9faf8;
}

.secondaryBg {
    background-color: #e5e7eb;
}

.accentFg {
    color: #e5e7eb;
}

.accentBg {
    background-color: #3882f6;
}

/* Font sizes */
.fontHuge {
    font-size: 48px;
}

.fontBig {
    font-size: 36px;
}

.fontNormal {
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
}

.fontSmall {
    font-size: 18px;
}