* {
    border: 2px solid red;
    font-family: Roboto;
}

/* Colors */
.primary1Fg {
    color: #1f2937;
}

.primary1Bg {
    background-color: #1f2937;
}

.secondaryFg {
    color: #f9faf8;
}

.secondaryBg {
    background-color: #e5e7eb;
}

.accentFg {
    color: #e5e7eb;
}

.accentBg {
    background-color: #3882f6;
}